// .footer {
// 	background-color: var(--hero-footer-color);
// 	padding-top: 60px;
// 	padding-bottom: 60px;
// }

// .address-list__item:not(:last-child) {
// 	margin-bottom: 9px;
// }

// .footer-logo {
// 	margin-bottom: 20px;
// }

// .footer-address {
// 	font-style: normal;
// }

// .address-list__address {
// 	@include text(14px, null, 1.71, 0.03em);
// 	color: var(--first-title-color);
// 	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// 	&:hover,
// 	&:focus {
// 		color: var(--hover-link-color);
// 	}
// }

// .address-list__mail {
// 	@include text(14px, 500, 1.1, 0.02em);
// 	color: var(--address-text-color);
// 	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// 	&:hover,
// 	&:focus {
// 		color: var(--hover-link-color);
// 	}
// }

// .address-list__tel {
// 	@include text(14px, 500, 1.1, 0.02em);
// 	color: var(--address-text-color);
// 	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// 	&:hover,
// 	&:focus {
// 		color: var(--hover-link-color);
// 	}
// }

// .connect-container {
// 	margin-right: 70px;
// 	flex-grow: 1;
// }

// .footer-icon-title {
// 	@include text(14px, 700, 1.1, 0.03em);
// 	text-transform: uppercase;
// 	color: var(--first-title-color);
// 	margin-bottom: 17px;
// }

// .footer-container {
// 	align-items: baseline;
// 	display: flex;
// }

// .footer-icon-list {
// 	display: flex;
// }

// .footer-icon-container {
// 	margin-right: 93px;
// }

// .footer-icon-list__item {
// 	width: 44px;
// 	height: 44px;
// 	&:not(:last-child) {
// 		margin-right: 10px;
// 	}
// }

// .footer-icon-list__link {
// 	width: 44px;
// 	height: 44px;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;

// 	border-radius: 50%;
// 	background-color: rgba(255, 255, 255, 0.1);
// 	color: var(--first-title-color);
// 	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// 	&:hover,
// 	&:focus {
// 		background-color: var(--hover-link-color);
// 	}
// }

// .footer-icon {
// 	fill: currentColor;
// }

// .footer-subscribe-title {
// 	@include text(14px, 700, 1.1, 0.03em);
// 	text-transform: uppercase;

// 	color: var(--first-title-color);
// 	margin-bottom: 20px;
// }

// .footer-form__input {
// 	border: 1px solid rgba(255, 255, 255, 0.3);
// 	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
// 	border-radius: 4px;
// 	height: 50px;
// 	width: 358px;
// 	margin-right: 12px;
// 	padding-left: 16px;
// 	background-color: transparent;
// 	outline: none;
// }

// .footer-form {
// 	display: flex;
// 	justify-content: center;
// }

// .footer-form__btn {
// 	@include text(16px, 700, 1.87, 0.06em);
// 	color: #ffffff;

// 	background: var(--hover-link-color);
// 	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
// 	border-radius: 4px;
// 	width: 200px;
// 	height: 50px;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;

// 	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

// 	&:hover,
// 	&:focus {
// 		background: var(--hero-btn-hover);
// 		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
// 	}
// }

// .footer-form__icon {
// 	margin-left: 10px;
// }
