.header {
	padding-top: 24px;
	padding-bottom: 25px;
	border-bottom: 1px solid #ececec;
}

.header__container {
	display: flex;
}

.navigation {
	display: flex;
}

.nav-list {
	display: flex;
	margin-left: 93px;
	align-items: center;
}

.contacts {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.nav-list__item:not(:last-child) {
	margin-right: 50px;
}

.contacts__item:not(:last-child) {
	margin-right: 50px;
}

.nav-list__link {
	@include text(14px, 500, 1.1, 0.02em);
	color: var(--header-text-color);
	position: relative;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		color: var(--hover-link-color);
	}
}

.nav-list__link--current::after {
	content: "";
	height: 4px;
	width: 100%;
	background-color: var(--hover-link-color);
	border-radius: 2px;
	display: block;
	position: absolute;
	bottom: -33px;
}

.contacts__link {
	@include text(14px, 500, 1.1, 0.02em);
	color: var(--address-text-color);
	display: flex;
	align-items: center;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		color: var(--hover-link-color);
	}
}

.contacts__icon {
	margin-right: 10px;
	fill: currentColor;
}
