.team-list {
	margin-bottom: -30px;

	@include mq(tablet) {
		display: flex;
		justify-content: center;
	}

	@include mq(tablet-only) {
		flex-wrap: wrap;
		margin-left: -15px;
		margin-right: -15px;
	}
}

.team-list__item {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	background-color: var(--hero-btn-color);
	margin-bottom: 30px;
	@include mq(tablet-only) {
		margin-left: 15px;
		margin-right: 15px;
		flex-basis: calc((100% - 60px) / 2);
	}
	@include mq(desktop) {
		&:not(:last-child) {
			margin-right: 30px;
		}
	}
}

.team-list__box {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

.team-list__title {
	margin-top: 0;
	@include text(16px, 500, 1.2, 0.03em);
	color: var(--header-text-color);
	margin-bottom: 10px;
}

.team-list__text {
	@include text(16px, null, 1.2, 0.03em);
	margin-top: 0;
	color: var(--address-text-color);
	margin-bottom: 16px;
}

.team-list__img {
	display: block;
	max-width: 100%;
	height: auto;
}

.social {
	display: flex;
	justify-content: center;
}

.social__item:not(:last-child) {
	margin-right: 10px;
}

.social__link {
	width: 44px;
	height: 44px;
	background-color: var(--first-title-color);
	color: var(--icon-static-color);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		background-color: var(--hover-link-color);
		color: var(--first-title-color);
	}
}

.social__icon {
	fill: currentColor;
}
