.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto;

	@include mq(mobile) {
		max-width: 480px;
	}

	@include mq(tablet) {
		max-width: 768px;
	}

	@include mq(desktop) {
		max-width: 1200px;
	}
}
