.logo {
	font-family: Raleway;
	@include text(24px, 700, 1.2, 0.03em);
	color: var(--hover-link-color);
	display: inline-block;

	@include mq(desktop) {
		font-size: 26px;
	}

	&__dark {
		color: var(--header-text-color);
	}

	&__white {
		color: var(--first-title-color);
	}
}
