.filter-list {
	display: flex;
	margin-bottom: 50px;
	flex-wrap: wrap;
	@include mq(tablet) {
		justify-content: center;
	}
}

.filter-list__item {
	margin-right: 8px;
}

.filter-list__item:nth-child(-n + 3) {
	margin-bottom: 15px;
}

.filter-list__btn {
	@include text(16px, 500, 1.62, 0.03em);
	text-align: center;
	color: var(--header-text-color);
	background-color: #f5f4fa;
	padding: 6px 22px 6px;
	background: #f5f4fa;
	border-radius: 4px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		background-color: #2196f3;
		color: var(--hero-btn-color);
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	}
}
