:root {
	--header-text-color: #212121;
	--address-text-color: #757575;
	--hover-link-color: #2196f3;
	--hero-footer-color: #2f303a;
	--first-title-color: #ffffff;
	--hero-btn-color: #ffffff;
	--benefits-text-color: #757575;
	--team-background-color: #f5f4fa;
	--hero-btn-hover: #188ce8;
	--examples-boarder-color: #eeeeee;
	--icon-static-color: #afb1b8;
	--footer-text-color: rgba(255, 255, 255, 0.6);
}
